.venv
db.sqlite3

# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Django stuff:
db.sqlite3
*.sqlite3
*.log
/media/
staticfiles/

# Ignore virtual environment
venv/
env/

# VS Code specific
.vscode/

# IDEs and editors
*.swp
*.swo
.idea/
*.sublime-project
*.sublime-workspace

# Testing and coverage
.pytest_cache/
.tox/
.coverage
coverage.xml
nosetests.xml
test_results/